In [1]:
import pandas as pd
from pandasql import sqldf
import phylopandas as ph
import csv

In [2]:
# reading fasta file
df_ncRna = ph.read_fasta('ncrna_NONCODE[v3.0].fasta')
df_ncRna.head()

,id,sequence,description,label,uid
0,nncid,sequence,nncid | accn | class | organism | name | ref |...,nncid,VdwuhLmgi1
1,n1,ACCTCGACCACCCTTAACTTGGGTGCAGGTATTCAACAAAAGCAAT...,n1 | AB002583 | tmRNA | chloroplast Cyanidiosc...,n1,9ysmnaZn3R
2,n2,AAGGCATAGATGATAACAGGTCTTGACAAAAGATTTGAGGAAAGTC...,n2 | AB002583 | RNase P RNA | chloroplast Cyan...,n2,XCOj4eFKwc
3,n3,GGGGCTGTAATGGTTTCGACGTGTTGGTGAATCCTTCACCGTGATT...,n3 | AB003477 | tmRNA | Synechococcus sp | 10S...,n3,c6CSjwDWfX
4,n4,ACGACCTTACTTGAACAGGATCTGTTCTATAGGCTCGTACCTCTGT...,n4 | AB007644 | snoRNA | Arabidopsis thaliana ...,n4,0HYKvpYrkX

In [3]:
print(df_ncRna.shape)

(411553, 5)

In [4]:
# deleting first row
df_ncRna_c=df_ncRna
df_ncRna_c=df_ncRna_c.drop(0,axis=0)
df_ncRna_c.head()

,id,sequence,description,label,uid
1,n1,ACCTCGACCACCCTTAACTTGGGTGCAGGTATTCAACAAAAGCAAT...,n1 | AB002583 | tmRNA | chloroplast Cyanidiosc...,n1,9ysmnaZn3R
2,n2,AAGGCATAGATGATAACAGGTCTTGACAAAAGATTTGAGGAAAGTC...,n2 | AB002583 | RNase P RNA | chloroplast Cyan...,n2,XCOj4eFKwc
3,n3,GGGGCTGTAATGGTTTCGACGTGTTGGTGAATCCTTCACCGTGATT...,n3 | AB003477 | tmRNA | Synechococcus sp | 10S...,n3,c6CSjwDWfX
4,n4,ACGACCTTACTTGAACAGGATCTGTTCTATAGGCTCGTACCTCTGT...,n4 | AB007644 | snoRNA | Arabidopsis thaliana ...,n4,0HYKvpYrkX
5,n5,GGCCGGTGATGTAATCAAAATATTTGCTACTCTTGATGAAGAATTT...,n5 | AB009049 | snoRNA | Arabidopsis thaliana ...,n5,tGw3KGuz5k

In [5]:
#formating the fasta data to csv.
#creating empty dataframe
df_LncRna = pd.DataFrame(columns=['nncid','accn','class','organism','name','ref','transcriptID','url','cpcScore','cnci','sequence'])
df_LncRna['nncid']=df_ncRna_c['id']
df_LncRna['sequence']=df_ncRna_c['sequence']
df_LncRna.head()

,nncid,accn,class,organism,name,ref,transcriptID,url,cpcScore,cnci,sequence
1,n1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACCTCGACCACCCTTAACTTGGGTGCAGGTATTCAACAAAAGCAAT...
2,n2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAGGCATAGATGATAACAGGTCTTGACAAAAGATTTGAGGAAAGTC...
3,n3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GGGGCTGTAATGGTTTCGACGTGTTGGTGAATCCTTCACCGTGATT...
4,n4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACGACCTTACTTGAACAGGATCTGTTCTATAGGCTCGTACCTCTGT...
5,n5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GGCCGGTGATGTAATCAAAATATTTGCTACTCTTGATGAAGAATTT...

In [7]:
df_split = df_ncRna_c["description"].str.split("|", expand = True) 
df_split.head(10)

,0,1,2,3,4,5,6,7,8,9
1,n1,AB002583,tmRNA,chloroplast Cyanidioschyzon merolae,ssrA,NONCODE v2.0,NULL,NULL,-1.0577600,-0.3460597
2,n2,AB002583,RNase P RNA,chloroplast Cyanidioschyzon merolae,rnpB,NONCODE v2.0,NULL,NULL,-1.1143400,-0.4482952
3,n3,AB003477,tmRNA,Synechococcus sp,10Sa,NONCODE v2.0,NULL,NULL,-1.3614100,-0.3138589
4,n4,AB007644,snoRNA,Arabidopsis thaliana (thale cress),U3,NONCODE v2.0,NULL,NULL,-0.5276610,-0.3278265
5,n5,AB009049,snoRNA,Arabidopsis thaliana (thale cress),U24,NONCODE v2.0,NULL,NULL,-1.0309300,-0.5177013
6,n6,AB009051,snRNA,Arabidopsis thaliana (thale cress),U6,NONCODE v2.0,NULL,NULL,-1.3622000,-0.1069238
7,n7,AB010698,snRNA,Arabidopsis thaliana (thale cress),U6,NONCODE v2.0,NULL,NULL,-1.3560200,-0.1195753
8,n9,AB013387,snoRNA,Arabidopsis thaliana (thale cress),U3,NONCODE v2.0,NULL,NULL,-0.5670530,-0.2795527
9,n10,AB013390,snRNA,Arabidopsis thaliana (thale cress),U2,NONCODE v2.0,NULL,NULL,-1.2697500,-0.2008152
10,n11,AB013396,snRNA,Arabidopsis thaliana (thale cress),U2,NONCODE v2.0,NULL,NULL,-1.2818800,-0.2538252

In [8]:
df_LncRna["accn"]=df_split[1]
df_LncRna["class"]=df_split[2]
df_LncRna["organism"]=df_split[3]
df_LncRna["name"]=df_split[4]
df_LncRna["ref"]=df_split[5]
df_LncRna["transcriptID"]=df_split[6]
df_LncRna["url"]=df_split[7]
df_LncRna["cpcScore"]=df_split[8]
df_LncRna["cnci"]=df_split[9]
df_LncRna.head(10)

,nncid,accn,class,organism,name,ref,transcriptID,url,cpcScore,cnci,sequence
1,n1,AB002583,tmRNA,chloroplast Cyanidioschyzon merolae,ssrA,NONCODE v2.0,NULL,NULL,-1.0577600,-0.3460597,ACCTCGACCACCCTTAACTTGGGTGCAGGTATTCAACAAAAGCAAT...
2,n2,AB002583,RNase P RNA,chloroplast Cyanidioschyzon merolae,rnpB,NONCODE v2.0,NULL,NULL,-1.1143400,-0.4482952,AAGGCATAGATGATAACAGGTCTTGACAAAAGATTTGAGGAAAGTC...
3,n3,AB003477,tmRNA,Synechococcus sp,10Sa,NONCODE v2.0,NULL,NULL,-1.3614100,-0.3138589,GGGGCTGTAATGGTTTCGACGTGTTGGTGAATCCTTCACCGTGATT...
4,n4,AB007644,snoRNA,Arabidopsis thaliana (thale cress),U3,NONCODE v2.0,NULL,NULL,-0.5276610,-0.3278265,ACGACCTTACTTGAACAGGATCTGTTCTATAGGCTCGTACCTCTGT...
5,n5,AB009049,snoRNA,Arabidopsis thaliana (thale cress),U24,NONCODE v2.0,NULL,NULL,-1.0309300,-0.5177013,GGCCGGTGATGTAATCAAAATATTTGCTACTCTTGATGAAGAATTT...
6,n6,AB009051,snRNA,Arabidopsis thaliana (thale cress),U6,NONCODE v2.0,NULL,NULL,-1.3622000,-0.1069238,GTCCCTTCGGGGACATCCGATAAAATTGGAACGATACAGAGAAGAT...
7,n7,AB010698,snRNA,Arabidopsis thaliana (thale cress),U6,NONCODE v2.0,NULL,NULL,-1.3560200,-0.1195753,GTCCCTTCGGGGACATCTGATAAAATTGGAACGATACAGAGAAGAT...
8,n9,AB013387,snoRNA,Arabidopsis thaliana (thale cress),U3,NONCODE v2.0,NULL,NULL,-0.5670530,-0.2795527,ACGACCTTACTTGAACAGGATCTGTTCTATAGGCTCGTACCTCTGT...
9,n10,AB013390,snRNA,Arabidopsis thaliana (thale cress),U2,NONCODE v2.0,NULL,NULL,-1.2697500,-0.2008152,ATACCTTTCTCGGCCTTTTGGCTAAGATCAAGTGTAGTATCTGTTC...
10,n11,AB013396,snRNA,Arabidopsis thaliana (thale cress),U2,NONCODE v2.0,NULL,NULL,-1.2818800,-0.2538252,ATACCTTTCTCGGCCTTTTGGCTAAGATCAAGTGTAGTATCTGTTC...

In [9]:
df_LncRna.to_csv('Data/np_v2_NonCode_Seq_all.csv')

In [10]:
df_NPInter = pd.read_csv('Data/NPInter_v2.0 homo_sapiens.csv')
df_NPInter.head()

,interID,ncID,ncType,ncIdentifier,ncName,PartnerID,prType,prIdentifier,InteractionPartner,interDescription,experiment,pubmed,organism,tag,interClass,interLevel,NONCODETranscriptID
0,ncRI-199556,16426,NONCODE,n386623,RPI001_920445,18387,UniProt,Q07955,SRSF1,Cross-linking immunoprecipitation and high-thr...,CLIP-seq,19116412,Homo sapiens,ncRNA-protein binding,binding,RNA-Protein,NONHSAT012864.2
1,ncRI-188304,11160,NONCODE,n343050,RPI001_100097,8360,UniProt,Q9HCE1,MOV10,A modified PAR-CLIP method applied to the nucl...,modified PAR-CLIP,22844102,Homo sapiens,ncRNA-protein binding,binding,RNA-Protein,NONHSAT084827.2
2,ncRI-192633,12013,NONCODE,n407114,RPI001_182337,3988,UniProt,Q01844,EWSR1,PAR-CLIP defined global RNA targets for all hu...,PAR-CLIP,22081015,Homo sapiens,ncRNA-protein binding,binding,RNA-Protein,NONHSAT091509.2
3,ncRI-191389,11713,NONCODE,n408119,RPI001_114723,515,UniProt,Q9UL18,AGO1-4,PAR-CLIP of combined AGO1-4 indicates the nonc...,PAR-CLIP,20371350,Homo sapiens,ncRNA-protein binding,binding,RNA-Protein,NaN
4,ncRI-191389,11713,NONCODE,n408119,RPI001_114723,515,UniProt,Q9UKV8,AGO1-4,PAR-CLIP of combined AGO1-4 indicates the nonc...,PAR-CLIP,20371350,Homo sapiens,ncRNA-protein binding,binding,RNA-Protein,NaN

In [11]:
df_NPInter.shape

(8947, 17)

In [12]:
# df_LncRna= pd.read_csv('np_NonCode_Seq_all.csv')
# df_LncRna.shape

In [10]:
#pysqldf = lambda q: sqldf(q, globals())

In [13]:
#df_nc_seq=pysqldf("SELECT DISTINCT nc.* FROM df_LncRna nc INNER JOIN df_NPInter np on trim(nc.nncid)=trim(np.ncIdentifier)")
df_nc_seq=df_LncRna[df_LncRna.nncid.isin(df_NPInter.ncIdentifier)]
df_nc_seq.shape

(3036, 11)

In [14]:
df_nc_seq.shape

(3036, 11)

In [15]:
df_nc_seq.nunique()

nncid           3036
accn            1383
class             21
organism           1
name              75
ref               13
transcriptID    2997
url              183
cpcScore        2986
cnci            3019
sequence        3036
dtype: int64

In [16]:
#df_nc_seq.count()
df_nc_seq.to_csv('Data/np_v2_NonCode_Seq_Homo.csv')
#df_LncRna.to_csv('Data/np_v2_NonCode_Seq_all.csv')

In [17]:
#df_np=pysqldf("SELECT DISTINCT np.ncIdentifier FROM df_NPInter np WHERE trim(np.ncIdentifier) NOT IN(select trim(nc.nncid) from df_nc_seq nc)")

#df_np