### Importing packages

In [43]:
import pandas as pd
from pandasql import sqldf

### Loading NPInter_v2.0 homo_sapiens data

In [79]:
df_NPInter = pd.read_csv('data/NPInter_v2.0 homo_sapiens.csv')
df_NPInter.head()

,interID,ncID,ncType,ncIdentifier,ncName,PartnerID,prType,prIdentifier,InteractionPartner,interDescription,experiment,pubmed,organism,tag,interClass,interLevel,NONCODETranscriptID
0,ncRI-199556,16426,NONCODE,n386623,RPI001_920445,18387,UniProt,Q07955,SRSF1,Cross-linking immunoprecipitation and high-thr...,CLIP-seq,19116412,Homo sapiens,ncRNA-protein binding,binding,RNA-Protein,NONHSAT012864.2
1,ncRI-188304,11160,NONCODE,n343050,RPI001_100097,8360,UniProt,Q9HCE1,MOV10,A modified PAR-CLIP method applied to the nucl...,modified PAR-CLIP,22844102,Homo sapiens,ncRNA-protein binding,binding,RNA-Protein,NONHSAT084827.2
2,ncRI-192633,12013,NONCODE,n407114,RPI001_182337,3988,UniProt,Q01844,EWSR1,PAR-CLIP defined global RNA targets for all hu...,PAR-CLIP,22081015,Homo sapiens,ncRNA-protein binding,binding,RNA-Protein,NONHSAT091509.2
3,ncRI-191389,11713,NONCODE,n408119,RPI001_114723,515,UniProt,Q9UL18,AGO1-4,PAR-CLIP of combined AGO1-4 indicates the nonc...,PAR-CLIP,20371350,Homo sapiens,ncRNA-protein binding,binding,RNA-Protein,NaN
4,ncRI-191389,11713,NONCODE,n408119,RPI001_114723,515,UniProt,Q9UKV8,AGO1-4,PAR-CLIP of combined AGO1-4 indicates the nonc...,PAR-CLIP,20371350,Homo sapiens,ncRNA-protein binding,binding,RNA-Protein,NaN

### Checking Null and  Unique values in NpInter v2 dataset

In [80]:
print("............ Shape of data ..........")
print(df_NPInter.shape)
print('.......... NULL Values .................')
print(df_NPInter.isnull().sum())
print('............... unique values..................   ')
print(df_NPInter.nunique())

............ Shape of data ..........
(8947, 17)
.......... NULL Values .................
interID                   0
ncID                      0
ncType                    0
ncIdentifier              0
ncName                    0
PartnerID                 0
prType                    0
prIdentifier              0
InteractionPartner        0
interDescription          0
experiment               99
pubmed                    0
organism                  0
tag                       0
interClass                0
interLevel                0
NONCODETranscriptID    2939
dtype: int64
............... unique values..................
interID                8128
ncID                   3051
ncType                    1
ncIdentifier           3053
ncName                 3052
PartnerID               151
prType                    1
prIdentifier            139
InteractionPartner      153
interDescription        192
experiment               33
pubmed                  140
organism                  1
tag                       1
interClass                1
interLevel                1
NONCODETranscriptID    2086
dtype: int64

### Creating PandaSql object

In [51]:
df_NPInter = df_NPInter.dropna(axis=0, subset=['ncIdentifier'])
df_NPInter = df_NPInter.dropna(axis=0, subset=['prIdentifier'])

In [52]:
print("............ Shape of data ..........")
print(df_NPInter.shape)
print('.......... NULL Values .................')
print(df_NPInter.isnull().sum())
print('............... unique values..................   ')
print(df_NPInter.nunique())

............ Shape of data ..........
(8133, 17)
.......... NULL Values .................
interID                   0
ncID                      0
ncType                    0
ncIdentifier              0
ncName                    0
PartnerID                 0
prType                    0
prIdentifier              0
InteractionPartner        0
interDescription          0
experiment               91
pubmed                    0
organism                  0
tag                       0
interClass                0
interLevel                0
NONCODETranscriptID    2608
dtype: int64
............... unique values..................
interID                8133
ncID                   3053
ncType                    3
ncIdentifier           3042
ncName                 3054
PartnerID               156
prType                    1
prIdentifier            139
InteractionPartner      158
interDescription        195
experiment               34
pubmed                  142
organism                  1
tag                       1
interClass                1
interLevel                1
NONCODETranscriptID    2086
dtype: int64

In [53]:
df_NPInter.to_csv("data/NPInter_v2.0 homo_sapiens.csv")

In [9]:
pysqldf = lambda q: sqldf(q, globals())

### Filtering and removing single interaction of porteins or LncRNAs

In [6]:
#df_single_pr=pysqldf("SELECT interID, prIdentifier,count(prIdentifier) as PrId_count  FROM df_NPInter np group by  prIdentifier  having count(prIdentifier) = 1")
#print(df_single_pr)

In [7]:
#df_single_pr[df_single_pr['prIdentifier'].str.contains(";")==True]

### Removing those enteries which proteins are interacting with single LncRNAs.

In [8]:
#df_NPInter_Clean = pysqldf("SELECT np.* FROM df_NPInter np where np.interID not in (select interID from df_single_pr)")
#print(df_NPInter_Clean.shape)

In [9]:
#print("............ Shape of data ..........")
#print(df_NPInter_Clean.shape)
#print('.......... NULL Values .................')
#print(df_NPInter_Clean.isnull().sum())
#print('............... unique values..................   ')
#print(df_NPInter_Clean.nunique())

### Filtering and removing single interaction of porteins or LncRNAs

In [10]:
#df_single_np=pysqldf("SELECT interID, ncIdentifier,count(ncIdentifier) as count FROM df_NPInter np group by ncIdentifier having count(ncIdentifier)=1")
#print(df_single_np.shape)

In [12]:
#df_single_np[df_single_np['ncIdentifier'].str.contains(";")==True]

Empty DataFrame
Columns: [interID, ncIdentifier, count]
Index: []

### Removing those enteries which LncRNAs are interacting with single protein.

In [11]:
#df_NPInter_Clean2 = pysqldf("SELECT np.* FROM df_NPInter_Clean np where np.interID not in (select interID from df_single_np)")
#print(df_NPInter_Clean2.shape)

In [12]:
#print("............ Shape of data ..........")
#print(df_NPInter_Clean2.shape)
#print('.......... NULL Values .................')
#print(df_NPInter_Clean2.isnull().sum())
#print('............... unique values..................   ')
#print(df_NPInter_Clean2.nunique())

In [25]:
#df_NPInter_Clean2.to_csv("NPInter_v2.0 homo_sapiens_clean.csv")

### Getting the protien Identifier from NpInter v2 into a list

In [81]:

prIdentifier=df_NPInter['prIdentifier'].values.tolist()
#prIdentifier

### Joining all protein ids into semicolen separated string.

In [82]:
prIdentifier=';'.join(map(str, prIdentifier))
#prIdentifier

### Converting semicolen separated string to list and then datafame.

In [83]:
prIdentifier=prIdentifier.strip().split(";")

In [84]:
df_prId=pd.DataFrame(prIdentifier,columns =["Entry"])
df_prId.head()
#print(df_prId.count())

     Entry
0   Q07955
1   Q9HCE1
2   Q01844
3   Q9UL18
4   Q9UKV8

In [85]:
print(df_prId.nunique())
print(df_prId.shape)
df_prId.to_csv("E:\\Fast\\Maam Zoya\\data and code\\Data\\NpInter2 Interacting Protiens\\interacting_proteins_ids.csv")

Entry    139
dtype: int64
(8947, 1)

### Loading All reviewed homo sapiens proteins from Uniport Swiss

In [15]:
df_Pseq= pd.read_csv('uniprot-filtered-organism__Homo+sapiens+(Human)+[9606]_+AND+review--.tab',sep='\t',  lineterminator='\n')
df_Pseq.head()

,Entry,Entry name,Status,Protein names,Gene names,Organism,Length,Sequence,Organism ID,Cross-reference (PDB)
0,P46777,RL5_HUMAN,reviewed,60S ribosomal protein L5 (Large ribosomal subu...,RPL5 MSTP030,Homo sapiens (Human),297,MGFVKVVKNKAYFKRYQVKFRRRREGKTDYYARKRLVIQDKNKYNT...,9606,4UG0;4V6X;5AJ0;5LKS;5T2C;6EK0;6QZP;
1,P05386,RLA1_HUMAN,reviewed,60S acidic ribosomal protein P1 (Large ribosom...,RPLP1 RRP1,Homo sapiens (Human),114,MASVSELACIYSALILHDDEVTVTEDKINALIKAAGVNVEPFWPGL...,9606,2LBF;4BEH;4V6X;
2,O75575,RPC9_HUMAN,reviewed,DNA-directed RNA polymerase III subunit RPC9 (...,CRCP,Homo sapiens (Human),148,MEVKDANSALLSNYEVFQLLTDLKEQRKESGKNKHSSGQQNLNTIT...,9606,NaN
3,Q96AT9,RPE_HUMAN,reviewed,Ribulose-phosphate 3-epimerase (EC 5.1.3.1) (R...,RPE HUSSY-17,Homo sapiens (Human),228,MASGCKIGPSILNSDLANLGAECLRMLDSGADYLHLDVMDGHFVPN...,9606,3OVP;3OVQ;3OVR;3QC3;
4,P18077,RL35A_HUMAN,reviewed,60S ribosomal protein L35a (Cell growth-inhibi...,RPL35A GIG33,Homo sapiens (Human),110,MSGRLWSKAIFAGYKRGLRNQREHTALLKIEGVYARDETEFYLGKR...,9606,4UG0;4V6X;5AJ0;5LKS;5T2C;6EK0;6QZP;

In [ ]:
#df_Pseq[df_Pseq['Entry']=='Q92804'].to_csv('Q86X94.csv')

### Filtering all matching/Interacting proteins with NpInter v2 (LncRNAs) from Uniprot Swiss dataset

In [18]:
df_np_pr=pysqldf("SELECT DISTINCT p.* FROM df_Pseq p INNER JOIN df_prId np on trim(p.Entry)=trim(np.Entry)")

In [19]:
df_np_pr.count()

Entry                    132
Entry name               132
Status                   132
Protein names            132
Gene names               132
Organism                 132
Length                   132
Sequence                 132
Organism ID              132
Cross-reference (PDB)    109
dtype: int64

In [86]:

fltr = df_Pseq["Entry"].isin(df_prId["Entry"]) 
df_np_pr=df_Pseq[fltr]
df_np_pr.shape

(123, 10)

### Loading all unreviewed homo sapiens porteins from uniprot TrEMBL

In [20]:
df_Pseq_TrEMBL= pd.read_csv('uniprot-filtered-reviewed_no+AND+organism__Homo+sapiens+(Human)+[960--.tab',sep='\t',  lineterminator='\n')
df_Pseq_TrEMBL.head()

,Entry,Entry name,Status,Protein names,Gene names,Organism,Length,Sequence,Organism ID,Cross-reference (PDB)
0,K7ESN1,K7ESN1_HUMAN,unreviewed,PDZ domain-containing protein GIPC1 (Fragment),GIPC1,Homo sapiens (Human),159,MFCTLNTHKVDMDKLLGGQIGLEDFIFAHVKGQRKEVEVFKSEDAL...,9606,NaN
1,B4DWX9,B4DWX9_HUMAN,unreviewed,"cDNA FLJ58293, highly similar to Monocarboxyla...",NaN,Homo sapiens (Human),379,MVLASFSSSVVQLYLTMGFITGLGLAFNLQPALTIIGKYFYRKRPM...,9606,NaN
2,L7SRW4,L7SRW4_HUMAN,unreviewed,ATP synthase subunit a,ATP6,Homo sapiens (Human),226,MNENLFASFIAPTILGLPAAVLIILFPPLLIPTSKYLINNRLITTQ...,9606,NaN
3,S4R3I2,S4R3I2_HUMAN,unreviewed,Protein Aster-A,GRAMD1A,Homo sapiens (Human),205,MFDTTPHSGRSTPSSSPSLRKRLQLLPPSRPPPEPEPGTMVEKGSD...,9606,NaN
4,H0Y919,H0Y919_HUMAN,unreviewed,Serine/threonine-protein kinase RIO2 (Fragment),RIOK2,Homo sapiens (Human),140,XEESADARSFEMTEFNQALEEIKGQVVENNSVTEFSEEKNRTENYN...,9606,NaN

### Filtering all matching/Interacting proteins with NpInter v2 (LncRNAs) from Uniport TrEMBL dataset

In [21]:
df_np_pr2=pysqldf("SELECT DISTINCT p.* FROM df_Pseq_TrEMBL p INNER JOIN df_prId np on trim(p.Entry)=trim(np.Entry)")
df_np_pr2.count()

Entry                    10
Entry name               10
Status                   10
Protein names            10
Gene names               10
Organism                 10
Length                   10
Sequence                 10
Organism ID              10
Cross-reference (PDB)     0
dtype: int64

In [87]:

fltr2 = df_Pseq_TrEMBL["Entry"].isin(df_prId["Entry"]) 
df_np_pr2=df_Pseq_TrEMBL[fltr2]
df_np_pr2.shape

(10, 10)

### Concatinating both Reviewed and Unreviewed protiens filter datasets and writing into csv

In [88]:
df_Protein_Seq = pd.concat([df_np_pr,df_np_pr2],ignore_index=True)
df_Protein_Seq.head()

,Entry,Entry name,Status,Protein names,Gene names,Organism,Length,Sequence,Organism ID,Cross-reference (PDB)
0,Q13148,TADBP_HUMAN,reviewed,TAR DNA-binding protein 43 (TDP-43),TARDBP TDP43,Homo sapiens (Human),414,MSEYIRVTEDENDEPIEIPSEDDGTVLLSTVTAQFPGACGLRYRNP...,9606,1WF0;2CQG;2N2C;2N3X;2N4G;2N4H;2N4P;4BS2;4IUF;4...
1,P08579,RU2B_HUMAN,reviewed,U2 small nuclear ribonucleoprotein B'' (U2 snR...,SNRPB2,Homo sapiens (Human),225,MDIRPNHTIYINNMNDKIKKEELKRSLYALFSQFGHVVDIVALKTM...,9606,1A9N;5MQF;5O9Z;5XJC;5YZG;5Z56;5Z57;5Z58;6AH0;6...
2,O14746,TERT_HUMAN,reviewed,Telomerase reverse transcriptase (EC 2.7.7.49)...,TERT EST2 TCS1 TRT,Homo sapiens (Human),1132,MPRAPRCRAVRSLLRSHYREVLPLATFVRRLGPQGWRLVQRGDPAA...,9606,2BCK;4B18;4MNQ;5MEN;5MEO;5MEP;5MEQ;5MER;5UGW;
3,Q9UHB9,SRP68_HUMAN,reviewed,Signal recognition particle subunit SRP68 (SRP...,SRP68,Homo sapiens (Human),627,MAAEKQVPGGGGGGGSGGGGGSGGGGSGGGRGAGGEENKENERPSA...,9606,4P3E;4P3F;5M72;5M73;5WRV;
4,O75940,SPF30_HUMAN,reviewed,Survival of motor neuron-related-splicing fact...,SMNDC1 SMNR SPF30,Homo sapiens (Human),238,MSEDLAKQLASYKAQLQQVEAALSGNGENEDLLKLKKDLQEVIELT...,9606,4A4F;4A4H;

In [89]:
df_Protein_Seq.shape

(133, 10)

In [90]:
df_Protein_Seq.to_csv('Data\\NpInter2 Interacting Protiens\\NP_pSeq_Interactions_All2.csv')

In [91]:
fltr=df_prId.Entry.isin(df_Protein_Seq.Entry)
df_prId = df_prId[fltr]
print(df_prId.nunique())
print(df_prId.shape)
df_prId.to_csv("Data/NpInter2 Interacting Protiens/interacting_proteins_ids.csv")

Entry    133
dtype: int64
(7993, 1)

### finding those proteins in NpInter v2 dataset which not filtered by above method

In [28]:
df_np=pysqldf("SELECT DISTINCT np.* FROM df_prId np WHERE trim(np.Entry) NOT IN(select trim(p.Entry) from df_Protein_Seq p)")

df_np

    Entry
0  Q86X94

In [ ]:
#pysqldf("SELECT DISTINCT p.* FROM df_Pseq p WHERE p.Entry ='Q86X94'")

In [ ]:
#df_NPInter[df_NPInter['prIdentifier'] == 'Q86X94']

In [ ]:
#df_NPInter[df_NPInter['ncID'] == 30764]

In [ ]:
#df_NPInter[df_NPInter['ncID'] == 185].sort_values('prIdentifier')

In [30]:
df_pseq=pd.read_csv("data/NpInter2 Interacting Protiens/NP_pSeq_interactions_All.csv")
df_pseq.head()

,Entry,Entry name,Status,Protein names,Gene names,Organism,Length,Sequence,Organism ID,Cross-reference (PDB)
0,Q9UPQ9,TNR6B_HUMAN,reviewed,Trinucleotide repeat-containing gene 6B protein,TNRC6B KIAA1093,Homo sapiens (Human),1833,MREKEQEREEQLMEDKKRKKEDKKKKEATQKVTEQKTKVPEVTKPS...,9606,NaN
1,Q13148,TADBP_HUMAN,reviewed,TAR DNA-binding protein 43 (TDP-43),TARDBP TDP43,Homo sapiens (Human),414,MSEYIRVTEDENDEPIEIPSEDDGTVLLSTVTAQFPGACGLRYRNP...,9606,1WF0;2CQG;2N2C;2N3X;2N4G;2N4H;2N4P;4BS2;4IUF;4...
2,P08579,RU2B_HUMAN,reviewed,U2 small nuclear ribonucleoprotein B'' (U2 snR...,SNRPB2,Homo sapiens (Human),225,MDIRPNHTIYINNMNDKIKKEELKRSLYALFSQFGHVVDIVALKTM...,9606,1A9N;5MQF;5O9Z;5XJC;5YZG;5Z56;5Z57;5Z58;6AH0;6...
3,O14746,TERT_HUMAN,reviewed,Telomerase reverse transcriptase (EC 2.7.7.49)...,TERT EST2 TCS1 TRT,Homo sapiens (Human),1132,MPRAPRCRAVRSLLRSHYREVLPLATFVRRLGPQGWRLVQRGDPAA...,9606,2BCK;4B18;4MNQ;5MEN;5MEO;5MEP;5MEQ;5MER;5UGW;
4,Q9UHB9,SRP68_HUMAN,reviewed,Signal recognition particle subunit SRP68 (SRP...,SRP68,Homo sapiens (Human),627,MAAEKQVPGGGGGGGSGGGGGSGGGGSGGGRGAGGEENKENERPSA...,9606,4P3E;4P3F;5M72;5M73;5WRV;

In [92]:
df_pseq=pd.read_csv("data/NpInter2 Interacting Protiens/NP_pSeq_interactions_All2.csv")
df_pseq.head()

,Unnamed: 0,Entry,Entry name,Status,Protein names,Gene names,Organism,Length,Sequence,Organism ID,Cross-reference (PDB)
0,0,Q13148,TADBP_HUMAN,reviewed,TAR DNA-binding protein 43 (TDP-43),TARDBP TDP43,Homo sapiens (Human),414,MSEYIRVTEDENDEPIEIPSEDDGTVLLSTVTAQFPGACGLRYRNP...,9606,1WF0;2CQG;2N2C;2N3X;2N4G;2N4H;2N4P;4BS2;4IUF;4...
1,1,P08579,RU2B_HUMAN,reviewed,U2 small nuclear ribonucleoprotein B'' (U2 snR...,SNRPB2,Homo sapiens (Human),225,MDIRPNHTIYINNMNDKIKKEELKRSLYALFSQFGHVVDIVALKTM...,9606,1A9N;5MQF;5O9Z;5XJC;5YZG;5Z56;5Z57;5Z58;6AH0;6...
2,2,O14746,TERT_HUMAN,reviewed,Telomerase reverse transcriptase (EC 2.7.7.49)...,TERT EST2 TCS1 TRT,Homo sapiens (Human),1132,MPRAPRCRAVRSLLRSHYREVLPLATFVRRLGPQGWRLVQRGDPAA...,9606,2BCK;4B18;4MNQ;5MEN;5MEO;5MEP;5MEQ;5MER;5UGW;
3,3,Q9UHB9,SRP68_HUMAN,reviewed,Signal recognition particle subunit SRP68 (SRP...,SRP68,Homo sapiens (Human),627,MAAEKQVPGGGGGGGSGGGGGSGGGGSGGGRGAGGEENKENERPSA...,9606,4P3E;4P3F;5M72;5M73;5WRV;
4,4,O75940,SPF30_HUMAN,reviewed,Survival of motor neuron-related-splicing fact...,SMNDC1 SMNR SPF30,Homo sapiens (Human),238,MSEDLAKQLASYKAQLQQVEAALSGNGENEDLLKLKKDLQEVIELT...,9606,4A4F;4A4H;

In [93]:
print("........ Total Protein Seq .......")
print(df_pseq.count())
print('.......... NULL Values .................')
print(df_pseq.isnull().sum())

........ Total Protein Seq .......
Unnamed: 0               133
Entry                    133
Entry name               133
Status                   133
Protein names            133
Gene names               133
Organism                 133
Length                   133
Sequence                 133
Organism ID              133
Cross-reference (PDB)    103
dtype: int64
.......... NULL Values .................
Unnamed: 0                0
Entry                     0
Entry name                0
Status                    0
Protein names             0
Gene names                0
Organism                  0
Length                    0
Sequence                  0
Organism ID               0
Cross-reference (PDB)    30
dtype: int64

In [ ]:
#str_genes = "TNRC6B, KIAA1093,TARDBP, TDP43,SNRPB2,TERT, EST2, TCS1, TRT, SRP68, SMNDC1, SMNR, SPF30, SRP9, SRP14, SRP54, TGS1, HCA137, NCOA6IP, PIMT, STAT1, RRP9, RNU3IP2, U355K, RO60, SSA2, TROVE2, RPP21, C6orf135, CAT60, TRIM21, RNF81, RO52, SSA1, POP4, RPP29, RPP38, PPARG, NR1C3, RBFOX2, FOX2, HRNBP2, RBM9, RTA, RPL22, TAT, F29, F22, F42, CBX7, ASF1B, DDX23, DDX17, DDX5, G17P1, HELR, HLR1, APOBEC3F, AGO4, EIF2C4, KIAA1567, AGO1, EIF2C1, AGO3, EIF2C3, ERCC3, XPB, XPBC, FUS, TLS, EZH2, KMT6, ELAVL1, HUR, EWSR1, EWS, E2F7, CTCF, COIL, CLN80, CRIP2, CRP2, AGO2, EIF2C2, DDX46, KIAA0801, FMR1, CDK9, CDC2L4, TAK, FCGRT, FCRN, LARP7, HDCMA18P, SSB, EIF4A1, DDX2A, EIF4A, NXF1, TAP, IVNS1ABP, ARA3, FLARA3, KIAA0850, KLHL39, NS1, NS1BP, HSPC068, PINX1, LPTL, LPTS, PABPC5, PABP5, NOP58, NOL5, NOP5, HSPC120, HLA-G, HLA-6.0, HLAG, GAR1, NOLA1, GEMIN5, NRNPU, C1orf199, HNRPU, SAFA, U21.1, HOXA9, HOX1G, IMP3, C15orf12, MRPS4, IMP4, BXDC4, HNRNPC, HNRPC, HNRNPK, HNRPK, KDM1A, AOF2, KDM1, KIAA0601, LSD1, SNU13, NHP2L1, LSM4, LSM5, NONO, NRB54, NCOA1, BHLHE74, SRC1, POP7, RPP20, POP1, KIAA0061, TP53, P53,"
#str_genes = str_genes + "PSMC3, TBP1, PARP1, ADPRT, PPOL, PRPF6, C20orf14, PRPF8, PRPC8, PSPC1, PSP1, PRPF4B, KIAA0536, PRP4, PRP4H, PRP4K, PRPF4, PRP4, PPIH, CYP20, CYPH, PTEN, MMAC1, TEP1, PRC1, PABPC1, PAB1, PABP1, PABPC2, NCL, PTBP1, PTB, WDR5, BIG3, TNRC6C, KIAA1582, SNRNP200, ASCC3L1, HELIC2, KIAA0788, TNRC6A, CAGH26, KIAA1460, TNRC6, QKI, HKQ, RCOR1, KIAA0071, RCOR, REST, NRSF, XBR, U2SURP, KIAA0332, SR140, TIA1, TRIM28, KAP1, RNF96, TIF1B, TRA2A, RPP25, RPP30, RNASEP2, SNRPC, SNRNP70, RNPU1Z, RPU1, SNRP70, U1AP1, SNRPA1, SRP19, SRP72, SRSF2, SFRS2, STAG2, SA2, SRSF1, ASF, SF2, SF2P33, SFRS1, OK/SW-cl.3, STAU1, STAU, NR5A1, AD4BP, FTZF1, SF1, SUZ12, CHET9, JJAZ1, KIAA0160, YBX3, CSDA, DBPA, TXNL4A, DIM1, TXNL4, SNRPA, SNRNP40, PRP8BP, SFP38, WDR57, SFPQ, PSF, SF3B6, SAP14, SF3B14, SF3B14A, CGI-110, HSPC175, HT006, LSM6, LRRK2, PARK8, LSM8, LSM7,"
#str_genes = str_genes + "LSM10, LSM11, MOV10, KIAA1631, MPHOSPH10, MPP10, IGF2BP1, CRDBP, VICKZ1, ZBP1, IGF2BP2, IMP2, VICKZ2, IGF2BP3, IMP3, KOC1,  VICKZ3, KANSL1, CENP-36, KIAA1267, MSL1V1, NSL1, HEXIM1, CLP1, EDG1, HIS1, MAQ1, LSM2, C6orf28, G7B, LSM3, MDS017, LSM1, CASM, NR3C1, GRL, H1FX, FBXL2, FBL2, FBL3, DKC1, NOLA4, MYOD1, BHLHC1, MYF3, MYOD, MVP, LRP, U5-116KD, HLA-DRB1, HLA-DQB1,"
#str_genes = str_genes + "NOP56, TIAL1, STAU1, PUM2, hCG_32092, HNRPA1, HMGA1, BRCA1, TAF15, RBP56, TAF2N"

In [ ]:
#genes = str_genes.split (",")

In [ ]:
#len(genes)

In [ ]:
#l1=genes[279:326]

In [ ]:
#len(l1)

In [ ]:
#print(l1)

In [94]:
dfp=pd.read_csv('E:\\Fast\\Maam Zoya\\papers\\RPITER-master\\RPITER-master\\data\\NPInter_pairs.csv')
dfp.head()

     PrId  nncid  interaction
0  Q13148   n121            1
1  Q9HCE1   n127            1
2  P35637  n1315            1
3  Q01844  n1315            1
4  Q13148  n1315            1

In [95]:
new = dfp["PrId"].isin(df_pseq["Entry"]) 
dfpr=dfp[new]

In [96]:
dfpr.nunique()

PrId            125
nncid          3296
interaction       2
dtype: int64

In [74]:
dfpr.to_csv("data/NpInter2 Interacting Protiens/NPInter_pairs.csv")

In [40]:
dfpr[dfpr['interaction']==0].nunique()

PrId            129
nncid          1897
interaction       1
dtype: int64

In [20]:
df = pd.read_csv('Data/NpInter2 Interacting LncRNAs/NP_V2_LncRNAsSequences_clean.csv')
df.head()

,NONCODEID,nncid,accn,class,organism,name,ref,transcriptID,url,cpcScore,cnci,sequence
0,NONHSAT044059.2,n344453,NULL,lincRNA,Homo sapiens,Human lincRNA,Scripture Reconstruction LincRNAs By Luo,linc_luo_1,NULL,-1.48162,-0.211334,TCTCGCTCTGTCACCCAGGCTGGAGTGCAGTGGCGTGATCTCGGCT...
1,NONHSAT140501.2,n344454,NULL,lincRNA,Homo sapiens,Human lincRNA,Scripture Reconstruction LincRNAs By Luo,linc_luo_2,NULL,-1.29125,-0.390813,ATTGTTAACGGCTGCGGTTCGAAGTGGCTGTGGGTATTGCTGCGGC...
2,NONHSAT030943.2,n344455,NULL,lincRNA,Homo sapiens,Human lincRNA,Scripture Reconstruction LincRNAs By Luo,linc_luo_3,NULL,-1.27104,-0.166314,AAATGAGGATGAAGCCAAGTGTTTGGAGTTCTTGCGAAGAAAGATA...
3,NONHSAT049673.2,n344457,NULL,lincRNA,Homo sapiens,Human lincRNA,Scripture Reconstruction LincRNAs By Luo,linc_luo_5,NULL,-1.36124,-0.309593,GGCCGGAGAGGCAGCAGCACCCCGAGCTGTCAGGCGTTCCGCCGCG...
4,NONHSAT119864.2,n344460,NULL,lincRNA,Homo sapiens,Human lincRNA,Scripture Reconstruction LincRNAs By Luo,linc_luo_8,NULL,-1.30821,-0.336347,AAGGTGGACTAGACAAAGTTGTATCTAGACCCTTATCATATATGTG...

In [41]:
new = dfp["nncid"].isin(dfp["nncid"]) 
dfnc=dfp[new]

In [42]:
dfnc.nunique()

PrId            449
nncid          4636
interaction       2
dtype: int64

In [60]:
df_NPInter[df_NPInter.prIdentifier == 'Q8TBX2']

Empty DataFrame
Columns: [interID, ncID, ncType, ncIdentifier, ncName, PartnerID, prType, prIdentifier, InteractionPartner, interDescription, experiment, pubmed, organism, tag, interClass, interLevel, NONCODETranscriptID]
Index: []

In [62]:
df_np_pr[df_np_pr.Entry =='Q9UPQ9']

,Entry,Entry name,Status,Protein names,Gene names,Organism,Length,Sequence,Organism ID,Cross-reference (PDB)
0,Q9UPQ9,TNR6B_HUMAN,reviewed,Trinucleotide repeat-containing gene 6B protein,TNRC6B KIAA1093,Homo sapiens (Human),1833,MREKEQEREEQLMEDKKRKKEDKKKKEATQKVTEQKTKVPEVTKPS...,9606,None