In [2]:
import itertools
import numpy as np
from Bio import Align
from Bio import SeqIO
from Bio import pairwise2
from Bio.SubsMat.MatrixInfo import blosum62
import csv
import pandas as pd
from Bio.SeqRecord import SeqRecord

In [3]:
df=pd.read_csv('../Data/np_v2_NonCode_Seq_Homo.csv')
df.shape

(3036, 12)

In [4]:
 df.isnull().sum(axis = 0)

Unnamed: 0      0
nncid           0
accn            0
class           0
organism        0
name            0
ref             0
transcriptID    0
url             0
cpcScore        0
cnci            0
sequence        0
dtype: int64

In [5]:
df.nunique()

Unnamed: 0      3036
nncid           3036
accn            1383
class             21
organism           1
name              75
ref               13
transcriptID    2997
url              183
cpcScore        2986
cnci            3019
sequence        3036
dtype: int64

In [7]:
df_nc=df[(df['class'].str.strip()=='lincRNA')|(df['class'].str.strip()=='lncRNA')]
df_nc.shape

(1923, 12)

In [8]:
#df_nc.rename(columns={'NONCODE ID':'NONCODEID'}, inplace=True)
df_nc.isnull().sum()

Unnamed: 0      0
nncid           0
accn            0
class           0
organism        0
name            0
ref             0
transcriptID    0
url             0
cpcScore        0
cnci            0
sequence        0
dtype: int64

In [9]:
df_nc.nunique()

Unnamed: 0      1923
nncid           1923
accn             365
class              2
organism           1
name               2
ref                6
transcriptID    1923
url                2
cpcScore        1912
cnci            1917
sequence        1923
dtype: int64

In [10]:
df_nc.to_csv('../Data/Np_V2_LncRNAsSequences2.csv')

In [11]:
df_nc['sequence'].str.len().max()

37027

In [58]:
#df_ids=pd.read_csv('../data/NONCODEv5_source/NONCODEv5_source.txt', sep='\t', names=['NONCODEID','IdOld1','nncid'])
#df_ids.head()

In [59]:
#df_ids.shape

In [60]:
#df_ids.isnull().sum()

In [62]:
#nncid = df_ids.IdOld1.isnin(df.nncid)
#df_ids_np2 = df_ids[nncid]
#df_ids_v2=df[['nncid']]
#df_ids_v2.head()
#df_ids_np2 = df_ids.merge(df_ids_v2, on='nncid', how='inner')
#df_ids_np2.shape

In [61]:
#df_nc['NONCODEID']=df_ids['NONCODEID'].values
# df_ids_np2.isna().sum()

In [63]:
# nncid = df_ids_np2.nncid.isin(df.nncid)
# nncid.head()

In [64]:
# df[nncid].isna().sum()

In [12]:
df_nc_seq=pd.read_csv('../Data/Np_V2_LncRNAsSequences2.csv')
df_nc_seq.shape

(1923, 13)

In [13]:
df_nc_seq.isna().sum()

Unnamed: 0      0
Unnamed: 0.1    0
nncid           0
accn            0
class           0
organism        0
name            0
ref             0
transcriptID    0
url             0
cpcScore        0
cnci            0
sequence        0
dtype: int64

In [43]:
#df_nc.to_csv('LncRNAsSequences.csv')

In [71]:
df_nc_seq1 = df_nc_seq.dropna(how='any',axis=0)
df_nc_seq1.isna().sum()

NONCODEID       0
nncid           0
accn            0
class           0
organism        0
name            0
ref             0
transcriptID    0
url             0
cpcScore        0
cnci            0
sequence        0
dtype: int64

In [72]:
df_nc_seq1.shape

(1313, 12)

In [75]:
df_nc_seq1.nunique()

NONCODEID       1311
nncid           1313
accn             126
class              2
organism           1
name               2
ref                5
transcriptID    1313
url                2
cpcScore        1307
cnci            1308
sequence        1313
dtype: int64

In [14]:
df_nc_seq[df_nc_seq.duplicated(['nncid'])]

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, nncid, accn, class, organism, name, ref, transcriptID, url, cpcScore, cnci, sequence]
Index: []

In [79]:
df_nc_seq1[df_nc_seq1['NONCODEID'].isin(['NONHSAT075169.2','NONHSAT041381.2'])]

,NONCODEID,nncid,accn,class,organism,name,ref,transcriptID,url,cpcScore,cnci,sequence
475,NONHSAT075169.2,n364548,NULL,lncRNA,Homo sapiens,Human lincRNA,BodyMapLinc,TCONS_00002724,,-0.927397,-0.322157,AGAGTGCCCCGGCGTCTTTCTAGCCTCCGCCTCCAGGCGGGTGAGG...
913,NONHSAT075169.2,n378572,NULL,lncRNA,Homo sapiens,,EnsemblNoncode,ENST00000439050,,-0.944813,-0.331151,AGAGTGCCCCGGCGTCTTTCTAGCCTCCGCCTCCAGGCGGGTGAGG...
1152,NONHSAT041381.2,n382464,NULL,lncRNA,Homo sapiens,,UCSCGeneNoncode,uc001zev.2,,0.689975,-0.331027,CACACCTCCAGAATCAGGTGTCTGAAAAGTGGCAGTGACGAAAGAA...
1896,NONHSAT041381.2,n410799,NR_038253,lncRNA,Homo sapiens,,RefGeneNoncode,NR_038253,,0.656562,-0.267560,GGATAAGTTATAATTTCTGAAAGACCAAGATTGGAATGACTTTTTG...

In [82]:
df_nc_seq1=df_nc_seq1[~df_nc_seq1['NONCODEID'].isin(['NONHSAT075169.2','NONHSAT041381.2'])]
df_nc_seq1.shape

(1309, 12)

In [15]:
df_nc_seq.to_csv('../Data/NpInter2 Interacting LncRNAs/NP_V2_LncRNAsSequences_clean2.csv')

In [18]:
file_out='../Data/NpInter2 Interacting LncRNAs/NP_V2_lncRNA_seq_clean2.fasta'

with open(file_out, 'w') as f_out:
    for index, row in df_nc_seq.iterrows():
        f_out.write(">" + row['nncid'] + "\n" +row['sequence'] + "\n")
    print("DONE...")
    
print("DONE DONE...")

DONE...
DONE DONE...

In [3]:
df = pd.read_csv('../Data/NpInter2 Interacting LncRNAs/NP_V2_LncRNAsSequences_clean.csv')
df.head()

,NONCODEID,nncid,accn,class,organism,name,ref,transcriptID,url,cpcScore,cnci,sequence
0,NONHSAT044059.2,n344453,NULL,lincRNA,Homo sapiens,Human lincRNA,Scripture Reconstruction LincRNAs By Luo,linc_luo_1,NULL,-1.48162,-0.211334,TCTCGCTCTGTCACCCAGGCTGGAGTGCAGTGGCGTGATCTCGGCT...
1,NONHSAT140501.2,n344454,NULL,lincRNA,Homo sapiens,Human lincRNA,Scripture Reconstruction LincRNAs By Luo,linc_luo_2,NULL,-1.29125,-0.390813,ATTGTTAACGGCTGCGGTTCGAAGTGGCTGTGGGTATTGCTGCGGC...
2,NONHSAT030943.2,n344455,NULL,lincRNA,Homo sapiens,Human lincRNA,Scripture Reconstruction LincRNAs By Luo,linc_luo_3,NULL,-1.27104,-0.166314,AAATGAGGATGAAGCCAAGTGTTTGGAGTTCTTGCGAAGAAAGATA...
3,NONHSAT049673.2,n344457,NULL,lincRNA,Homo sapiens,Human lincRNA,Scripture Reconstruction LincRNAs By Luo,linc_luo_5,NULL,-1.36124,-0.309593,GGCCGGAGAGGCAGCAGCACCCCGAGCTGTCAGGCGTTCCGCCGCG...
4,NONHSAT119864.2,n344460,NULL,lincRNA,Homo sapiens,Human lincRNA,Scripture Reconstruction LincRNAs By Luo,linc_luo_8,NULL,-1.30821,-0.336347,AAGGTGGACTAGACAAAGTTGTATCTAGACCCTTATCATATATGTG...

In [5]:
df[df['sequence'].str.len() == 32759]

,NONCODEID,nncid,accn,class,organism,name,ref,transcriptID,url,cpcScore,cnci,sequence
61,NONHSAT129017.2,n344709,NULL,lincRNA,Homo sapiens,Human lincRNA,Scripture Reconstruction LincRNAs By Luo,linc_luo_258,NULL,-1.415710,-0.332816,GAATCCATTGGAACCACGTAGATGAAGTTTCATTCAAAAACAATCC...
1107,NONHSAT137539.2,n385783,NULL,lncRNA,Homo sapiens,,UCSCGeneNoncode,uc004ebn.2,,0.340401,-0.345549,TAAAAATGTAAAAGATCAGCTGGGTGTGGTGGCTCACACCTGTAAT...

In [10]:
df['sequence_len']=df['sequence'].str.len()
df.head()

,NONCODEID,nncid,accn,class,organism,name,ref,transcriptID,url,cpcScore,cnci,sequence,sequence_len
0,NONHSAT044059.2,n344453,NULL,lincRNA,Homo sapiens,Human lincRNA,Scripture Reconstruction LincRNAs By Luo,linc_luo_1,NULL,-1.48162,-0.211334,TCTCGCTCTGTCACCCAGGCTGGAGTGCAGTGGCGTGATCTCGGCT...,3367
1,NONHSAT140501.2,n344454,NULL,lincRNA,Homo sapiens,Human lincRNA,Scripture Reconstruction LincRNAs By Luo,linc_luo_2,NULL,-1.29125,-0.390813,ATTGTTAACGGCTGCGGTTCGAAGTGGCTGTGGGTATTGCTGCGGC...,573
2,NONHSAT030943.2,n344455,NULL,lincRNA,Homo sapiens,Human lincRNA,Scripture Reconstruction LincRNAs By Luo,linc_luo_3,NULL,-1.27104,-0.166314,AAATGAGGATGAAGCCAAGTGTTTGGAGTTCTTGCGAAGAAAGATA...,2758
3,NONHSAT049673.2,n344457,NULL,lincRNA,Homo sapiens,Human lincRNA,Scripture Reconstruction LincRNAs By Luo,linc_luo_5,NULL,-1.36124,-0.309593,GGCCGGAGAGGCAGCAGCACCCCGAGCTGTCAGGCGTTCCGCCGCG...,1269
4,NONHSAT119864.2,n344460,NULL,lincRNA,Homo sapiens,Human lincRNA,Scripture Reconstruction LincRNAs By Luo,linc_luo_8,NULL,-1.30821,-0.336347,AAGGTGGACTAGACAAAGTTGTATCTAGACCCTTATCATATATGTG...,5954

In [17]:
df[df['sequence'].str.len() >4000][['nncid','sequence_len']]

        nncid  sequence_len
4     n344460          5954
6     n344462          4442
7     n344478         11929
11    n344497          5428
12    n344500          4060
13    n344503          6253
15    n344517          7251
18    n344538          7765
19    n344540          6515
20    n344541          4985
23    n344552         21686
25    n344569          7268
28    n344585          9679
33    n344604          7047
34    n344610          4926
39    n344644          9556
44    n344653         12885
47    n344659         14567
51    n344677          5132
52    n344678         12222
53    n344679          6904
55    n344693          8544
56    n344695          5608
59    n344703          8245
61    n344709         32759
66    n344736         18005
70    n344755          5497
72    n344766          8078
75    n344772          4754
76    n344778          8797
...       ...           ...
1177  n387393          5677
1179  n387531          6025
1187  n405566          4009
1189  n405705          7238
1193  n406144          5788
1200  n406301          4231
1201  n406346          4597
1207  n406478          8014
1209  n406543          6814
1215  n406883         10263
1222  n406992          4133
1225  n407071          5134
1228  n407114          5904
1230  n407211          5984
1233  n407400          4421
1237  n407500          4782
1238  n407502          5206
1250  n407851          5712
1251  n407887          5343
1253  n408014          5051
1268  n409250          4374
1271  n409499          4616
1273  n409638         21017
1276  n409707          4942
1282  n410063          4639
1287  n410143          4375
1290  n410453          4818
1297  n411142          5425
1298  n411511          9419
1301  n411552          8336

[210 rows x 2 columns]

In [22]:
dfp=pd.read_csv('E:\\Fast\\Maam Zoya\\papers\\RPITER-master\\RPITER-master\\data\\NPInter_pairs.csv')
dfp.head()

     PrId  nncid  interaction
0  Q13148   n121            1
1  Q9HCE1   n127            1
2  P35637  n1315            1
3  Q01844  n1315            1
4  Q13148  n1315            1

In [23]:
dfp.nunique()

PrId            449
nncid          4636
interaction       2
dtype: int64